apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: podinfo-dev

resources:
- ../../base
- namespace.yaml

images:
- name: ghcr.io/stefanprodan/podinfo
  newTag: latest

patches:
- path: patch-deployment.yaml
